.btn {
    letter-spacing: 0.03em;
    font-family: $font-primary-bold;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    background: $button-color;
    border: none;
    color: ffffff;
    opacity: 1;
    transition: 0.2s ease-in;
    margin-top: 0;
    margin-bottom: 1rem;

    &:hover {
        color: $primary;
        background: white;
        border: 1px solid $primary;
        opacity: 0.8;
        transition: background-color 0.3s ease;
        text-decoration: underline;
        font-weight: bold;
    }
}

.btn-lg {
    padding: 0.5em 2em;
}
