.faq {
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 8px rgba(136, 136, 136, 0.15);
    border-radius: $border-radius;
    &--header {
        font-family: $font-primary-bold;
        color: $primary;
    }
}
