footer {
    z-index: 4;
    position: relative;
    background-color: $footer-bg-color;
    border-top: 1px solid $layout-border;

    a {
        color: $text;
        &:hover {
            color: $footer-link-hover;
            text-decoration: none;
        }
    }
    ul {
        list-style: none;
        margin: 0;
    }

    .logo {
        text-align: center;
        background-image: url($footer-logo-path);
        background-size: contain;
        background-position: 50% 0;
        background-repeat: no-repeat;
        height: 40px;
        width: 100px;
    }
}
