.list {
    &--icon {
        display: inline-block;

        svg {
            position: relative;
            overflow: visible;
            border-radius: 100%;
            width: 60px;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.75);
        }
    }
}
