.searchResults {
    background: #ffffff;
    color: black;
    position: absolute;
    right: 0;
    top: calc(100% + 14px);
    z-index: 9999;
    list-style: none;
    margin: 0;
    padding: 0;
    &:empty {
        display: none !important;
    }
    @include media-breakpoint-up(lg) {
        max-width: 400px;
    }
    @include media-breakpoint-down(lg) {
        width: 100%;
        // top: calc(100% + 80px);
    }
    &:empty {
        display: none;
    }
    li {
        &:first-of-type {
            border-top: none !important;
        }
    }
    a {
        color: $text;
        flex-direction: column;
        align-items: flex-start;
    }
    .search {
        &--result {
            &:hover {
                background: $light;
            }
        }
    }
}
