.toc {
    max-width: 100vw;
    @include media-breakpoint-down(lg) {
        overflow: hidden;
    }
    ul,
    ol {
        list-style: none;
        padding-left: 1.25rem;
        margin: 0.5rem 0;
        a {
            color: $text;
            opacity: 0.8;
            word-break: break-word;
            hyphens: auto;
        }
    }
    nav > ul,
    nav > ol {
        margin: 0;
        background: none;
        border: 1px solid $primary;
        border-radius: $border-radius;
        padding: 2rem;
        list-style: none;
        li {
            padding: 0.25rem 0;
            overflow: hidden;
            a {
                &:hover {
                    color: $primary;
                    transition: 0.3s ease;
                }
            }
            &.active,
            &.is-active-li {
                a {
                    color: $primary;
                }
                ul {
                    li {
                        a {
                            color: rgba($text, 0.75);
                        }
                    }
                }
            }
        }
    }

    h5 {
        margin-bottom: 1.25rem;
        color: $primary;
        font-weight: bold;
    }
}
