{{ define "main" }}

{{ .Content }}

<div class="row mt-4">
    {{ range .Pages }}

    <div class="col-12 my-2">
        <div class="accordion border rounded">
            <div class="accordion--header d-flex justify-content-between align-items-center p-4 font-weight-bold text-primary" data-toggle="accordion">
                <div class="d-flex flex-column">
                    <span>{{ .Title }}</span>
                    <small class="text-muted">{{ .PublishDate.Format "January 2, 2006" }}</small>
                </div>
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="accordion--content border-top" style="display: none;">
                <div class="px-4">{{ .Content }}</div>
            </div>
        </div>
    </div>
    {{ end }}
</div>

{{ end }}