/* Only display redoc after jquery done */
.no-js {
    display: none;
}
#outer {
    display: block;
}
#outer.no-js {
    display: none;
}
/* API content styling fixes */
@media print, screen and (max-width: 50rem) {
    .api-content {
        width: 100%;
    }
}
a {
    overflow-wrap: anywhere;
}
