.app {
    display: flex;
    flex-direction: column;

    hr {
        margin-top: 3rem;
        opacity: 0;
    }

    &-header {
        width: 100%;
        background: var(--red);
        color: #fff;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        h1 {
            margin-bottom: 2rem;
        }
        a {
            color: #f5f5f5;
            font-weight: 700;
        }
    }

    .license-info {
        margin-top: 1rem;
    }

    .jump {
        padding: 0rem 0rem 2rem 0rem;
        h2 a::before {
            display: block;
            content: "";
            margin-top: -2rem;
            height: 2rem;
            visibility: hidden;
            pointer-events: none;
        }
    }

    &-body {
        display: flex;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        font-family: $font-primary-bold;
    }

    h3 {
        font-family: $font-primary-bold;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h5 {
        margin-top: 1rem;
    }

    code {
        white-space: pre;
    }

    .http-method {
        text-transform: uppercase;
    }

    .method {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 1rem;
    }

    .method-summary,
    .method-notes,
    .model-description {
        font-size: 1.25rem;
        color: #555;
    }

    .method-summary {
        font-weight: bold;
        margin: 1rem 0;
        text-align: right;
        display: none;
    }

    .method-notes {
        margin-bottom: 15px;
        margin-top: 1rem;
    }

    .method-path {
        background: none;
        position: relative;
        font-size: 1.5em;

        pre code {
            margin: 0;
        }
    }

    .method-path .up,
    .model .up {
        text-decoration: none;
    }

    .method-path .up {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translate(0, -50%);
    }

    .up {
        font-size: 1rem;
        letter-spacing: 0.03em;
        font-family: $font-primary-bold;
        display: inline-block;
        text-decoration: none;
        background: radial-gradient(
            100% 100% at 50.31%,
            at 0,
            #61a3ff 0,
            #1b6ad7 100%
        );
        background: radial-gradient(
            100% 100% at 50.31% 0,
            #61a3ff 0,
            #1b6ad7 100%
        );
        border-radius: 3rem;
        border: none;
        padding: 0.5rem 1rem;
        color: white !important;
    }

    .method-path pre {
        background: var(--bg-color);
        border: solid 2px var(--color);
        border-radius: 4px;
    }

    .method-path .http-method {
        color: var(--color);
    }

    .method-tags {
        text-align: right;
    }

    .method-tag {
        background: none repeat scroll 0% 0% #24a600;
        border-radius: 3px;
        padding: 2px 10px;
        margin: 2px;
        color: #fff;
        display: inline-block;
        text-decoration: none;
    }

    pre {
        padding: 0px;
    }

    pre.example {
        border: none;
        background: none;
    }

    // pre.get {
    //     --color: hsl(207, 85%, 38%);
    //     --bg-color: hsla(207, 85%, 38%, 0.1);
    // }
    //
    // pre.post {
    //     --color: hsl(143, 82%, 35%);
    //     --bg-color: hsla(143, 82%, 35%, 0.1);
    // }
    //
    // pre.put {
    //     --color: hsl(35, 64%, 47%);
    //     --bg-color: hsla(35, 64%, 47%, 0.1);
    // }
    //
    // pre.delete {
    //     --color: hsl(358, 69%, 38%);
    //     --bg-color: hsla(358, 69%, 38%, 0.1);
    // }

    pre.example {
        margin: 0;
    }

    .return-type,
    .example-data-content-type {
        margin-bottom: 20px;
    }

    pre.example code {
        display: block;
    }

    span.header,
    .field-label {
        font-family: $font-primary-bold;
    }

    span.header {
        margin-top: 2rem;
    }

    .field-items {
        display: flex;
        flex-direction: column;
        padding: 15px;
        background: $light;
        border-radius: 8px;
    }

    .param {
        margin: 0 0 0 20px;
        font-weight: bold;
    }

    .param-desc {
        margin-left: 20px;
        color: #777;
    }

    .param-desc:not(:last-child) {
        margin-bottom: 10px;
    }

    .param-type {
        font-style: italic;
    }

    .param-enum-header {
        padding-left: 60px;
        color: #777;
        font-weight: bold;
    }
    .param-enum {
        padding-left: 80px;
        color: #777;
        font-style: italic;
    }

    .param-header {
        font-weight: bold;
    }

    .model {
        display: flex;
        flex-direction: column;
        h3 {
            align-items: center;
            justify-content: space-between;
        }
    }

    ul {
        margin-top: 1rem;
        background: $light;
        border-radius: 8px;
        padding: 1rem;
        display: none;
        li {
            list-style: " ";
        }
    }
}

.http-method {
    color: #fc1154 !important;
    .hljs-keyword,
    .hljs-selector-tag {
        color: #1b6ad7;
    }
    .hljs-attribute {
        color: #d97000;
    }
}
.hljs-regexp {
    color: white !important;
}