body,
html {
    font-size: 14px;
    font-family: $font-primary;
}

body {
    color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-primary;
}

h1 {
    margin-top: 0rem;
    margin-bottom: 2rem;
    color: $primary;
    font-size: 2.25rem;
    font-family: $font-primary;

    & + p {
        font-size: 1.2rem;
        margin-top: -1rem;
        margin-bottom: 1rem;
    }
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
    font-weight: normal;
}

img {
    max-width: 100%;
}

.minimum--content {
    min-height: calc(90vh);
}

.read-more {
    font-family: $font-primary;
    font-size: 14px;
    border-bottom: $text;
}

a {
    color: $link-color;
    text-decoration: none;
    transition: 0.3s ease;
    &:hover {
        color: $link-color-hover;
        text-decoration: underline;
        transition: 0.3s ease;
    }
}

.alert {
    b {
        font-family: $font-primary-bold;
    }
}

.alert ul,
.alert ol {
    margin-bottom: 0;
}

.alert p:last-of-type {
    margin-bottom: 0;
}

.language-switch {
    display: inline-block;
    color: #0c1332;
    background-color: #fff;
    border-radius: 5rem;
    padding-right: 0.5rem;
}

.language-icon,
.language-select {
    display: inline-block;
    vertical-align: middle;
}

.language-icon {
    border: 1px solid #f5f5f5;
    border-radius: 5rem;
    text-align: center;
}

.language-select {
    border: none;
    color: inherit;
    background: transparent;
}

.language-select:hover {
    cursor: pointer;
}

main {
    overflow: hidden;

    table {
        @include media-breakpoint-down(lg) {
            display: block;
            max-width: -moz-fit-content;
            max-width: fit-content;
            margin: 0 auto;
            overflow-x: auto;
            white-space: nowrap;
        }
    }
}
