.sticky {
    position: sticky;
    top: $header-desktop-height;
    height: calc(100vh - #{$header-desktop-height});
    overflow: auto;
    padding-top: 0.5rem;
    @include media-breakpoint-down(lg) {
        position: fixed;
        z-index: 9999;
        width: 100%;
        padding-top: 0;
        background: white;
        top: $header-mobile-height; // header height
        bottom: 0;
        height: auto;
    }
}

.monospace {
    font-family: "Roboto Mono", monospace, sans-serif;
}

// fix Safari or Firefox scroll to high, so text will not be covered by navbar
:target:before {
    content: "";
    display: block;
    height: calc(#{$toc-title-top-space} + #{$header-desktop-height});
    margin-top: calc(-#{$toc-title-top-space} - #{$header-desktop-height});
}
