// Default colour pallette values for theme variables
$text: #3f423c;

$primary: #505277;
$secondary: #6f42c1;
$tertiary: #6610f2;

$bg-primary: #f4f3f2;
$bg-secondary: #b7b7b7;

$light: lighten($text, 70);

// Colours for standard notices
$danger: #f5222d;
$warning: #ffa940;
$success: #a0d911;
$info: $primary;

// Fonts (as per font-family property)
$font-primary: "Open Sans", sans-serif;
$font-primary-bold: "Open Sans", sans-serif;

// Paths for client logos
$header-logo: "/documentation/logos/freedesktop-sdk-logo.svg";
$footer-logo: "/documentation/logos/freedesktop-sdk-logo-circular.svg";

// Path for graphical bullet icon
$bullet-icon: "/ico-chevron.svg";

// Header and logo sizes
$header-mobile-height: 80px;
$header-desktop-height: 120px;

$header-logo-mobile-height: 40px;
$header-logo-desktop-height: 56px;

// Box corners radius
$border-radius: 0.3rem;

// Scroll spacing above selected header
$toc-title-top-space: 1rem;

/*================================================*/
/*=== Reuse theme variables for theme elements ===*/
/*================================================*/

$header-logo-path: $header-logo;
$header-bg-color: white;

$layout-border: #b7b7b7;

$search-background: $bg-primary;
$search-border: $primary;
$search-font-color: $secondary;

$menu-inactive-item: $text;
$menu-active-item: $primary;

$section-headers: $primary;
$section-list-items: $secondary;
$section-texts: $text;

$link-color: $secondary;
$link-color-hover: $secondary;

$breadcrumb-top-level-color: $text;
$breadcrumb-background: $bg-primary;
$breadcrumb-border: $secondary;

$sidebar-bg: $bg-primary;
$sidebar-font-color: $text;
$sidebar-link-hover: $sidebar-font-color;
$sidebar-active-background: $bg-primary;
$sidebar-active-border: $secondary;
$sidebar-active-item: $primary;

$button-color: $primary;

$toc-background: $bg-primary;
$toc-border: $primary;

$footer-logo-path: $footer-logo;
$footer-bg-color: $bg-primary;
$footer-link-hover: $secondary;

$table-color: $text;
$table-header-bg: $bg-primary;
$table-bg: white;
$table-border: #b7b7b7;
