<div class="alert alert-{{ if .Get 1 }}{{ .Get 1 }}{{ else }}danger{{ end }} d-flex"><i
        class="fas fa-lg mr-3 fa-exclamation-circle"></i>
    <div>{{if .Get 0}}<b>{{ .Get 0 }}</b><br>{{ end }}{{ .Inner | markdownify }}</div>
</div>