{{ $title := .Get "title" }} 
{{ $imgSrc := .Get "imgSrc" }}
{{ $content := .Inner }}
{{ $splitContent := split $content "<!--expand-->" }}

<div class="row mb-4 pt-2 pb-2 expand__element">
    <div class="col-md-4">
        {{ with $imgSrc }}
        <img src="{{ . }}" class="w-100" />
        {{ end }}
    </div>
    <div class="col-md-8">
        {{ with $title }}
        <h3 class="pt-2 expand__element--title">{{ . }}</h3>
        {{ end }} 
        
        {{ with (index $splitContent 0) }}
        <p>{{ . | markdownify }}</p>
        {{ end }}
        
        {{ with (index $splitContent 1) }}
        <div>
            <button class="expand__element--btn">More...</button>

            <div class="expand__element--text hidden">
                {{ . | markdownify }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
