<section class="section" style="background-color:{{.Get `background`}}">
    <div class="row no-gutters">
        <main class="col-12 col-xl-10 offset-xl-1">
            <div
                class="px-5 text-center d-flex justify-content-center flex-column align-content-center content-wrapper"
            >
                {{ .Inner | markdownify }}
            </div>
        </main>
    </div>
</section>
