<footer class="text-white">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center p-3">
            <a href="https://freedesktop-sdk.io/" target="_blank">
                <div class="logo"></div>
            </a>
            <a
                href="https://gitlab.com/freedesktop-sdk/documentation/"
                target="_blank"
                >Get involved</a
            >
            <a
                href="mailto:freedesktop-sdk@lists.freedesktop.org?subject=Feedback on Freedesktop SDK docs - {{ .Page.Title }}&body={{ .Page.Permalink }}"
                target="_blank"
                class="ml-5"
                >Contact us</a
            >
            <!--
          <label class="language-switch">
              <span class="d-none">Choose language</span> 
              <img src="/ico-{{.Lang}}.svg" class="language-icon"> 
              <select id="language-switch" class="language-select" onchange="location = this.value;">
                  {{ $siteLanguages := .Site.Languages}}
                  {{ $pageLang := .Page.Lang}}
                  {{ range .Page.AllTranslations }}
                    {{ $translation := .}}
                    {{ range $siteLanguages }}
                      {{ if eq $translation.Lang .Lang }}
                        {{ if eq $pageLang .Lang}}
                          <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}</option>
                        {{ else }}
                          <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
                        {{ end }}
                      {{ end }}
                    {{ end }}
                  {{ end }}
              </select>
          </label>
          -->
        </div>
    </div>
</footer>
