<head>
    <title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "{{ site.Params.googleTagManagerID }}");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Link Tags -->
    <base href="{{ .Permalink }}" />
    <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
    <meta name="url" content="{{ .Permalink }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <!-- Language Tags -->
    <meta property="og:locale" content="{{ .Language.Lang }}" />
    <meta name="language" content="{{ .Language.LanguageName }}" />
    {{ range .AllTranslations }}
    <link
        rel="alternate"
        hreflang="{{ .Language.Lang }}"
        href="{{ .Permalink }}"
        title="{{ .Language.LanguageName }}"
    />
    {{ end }}

    <!-- Image Tags -->
    {{ if eq .Section "blog" }} {{ if .Params.Featuredcnt.img }}
    <meta itemprop="image" content="{{ .Params.Featuredcnt.img }}" />
    <meta property="og:image" content="{{ .Params.Featuredcnt.img }}" />
    <meta name="twitter:image" content="{{ .Params.Featuredcnt.img }}" />
    {{ else }}
    <meta itemprop="image" content="{{ . | absURL }}" />
    <meta property="og:image" content="{{ . | absURL }}" />
    <meta name="twitter:image" content="{{ . | absURL }}" />
    {{ end }} {{ else }} {{ if .Site.Params.og_image }}
    <meta itemprop="image" content="{{ .Site.Params.og_image }}" />
    <meta property="og:image" content="{{ .Site.Params.og_image }}" />
    <meta name="twitter:image" content="{{ .Site.Params.og_image }}" />
    {{ else }}
    <meta itemprop="image" content="{{ . | absURL }}" />
    <meta property="og:image" content="{{ . | absURL }}" />
    <meta name="twitter:image" content="{{ . | absURL }}" />
    {{ end }} {{ end }}

    <!-- Date Tags -->
    <meta property="og:updated_time" content={{ .Lastmod.Format
    "2006-01-02T15:04:05Z0700" | safeHTML }} />
    <link
        rel="sitemap"
        type="application/xml"
        title="Sitemap"
        href="{{ .Site.BaseURL }}sitemap.xml"
    />
    {{ with .OutputFormats.Get "RSS" }}
    <link
        href="{{ .Permalink }}"
        rel="alternate"
        type="application/rss+xml"
        title="{{ $.Site.Title }}"
    />
    <link
        href="{{ .Permalink }}"
        rel="feed"
        type="application/rss+xml"
        title="{{ $.Site.Title }}"
    />
    {{ end }}

    <!-- Misc. Tags -->
    <meta name="twitter:site" content=".Site.Params.twitter" />
    <meta content="summary" name="twitter:card" />
    <meta property="og:site_name" content="{{ .Site.Params.sitename }}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
        content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"
        name="robots"
    />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta content="en_US" property="og:locale" />
    <meta content="website" property="og:type" />
    <meta content="{{ .Site.Title }}" property="og:title" />
    <meta
        content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}"
        property="og:description"
    />
    <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}" />
    <meta name="application-name" content="{{ .Site.Title }}" />
    <meta content="{{ .Permalink }}" property="og:url" />
    <meta content="{{ .Site.Title }}" property="og:site_name" />
    <meta
        content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}"
        name="twitter:description"
    />
    <meta content="{{ .Site.Title }}" name="twitter:title" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.5/styles/a11y-dark.min.css" 
        integrity="sha512-tcc7vFNH1Do6lQ6pEarUuoDwzkyscSoUKhI0BUUHuM2VG8KTIm3URTNt2DZG5pAB3rYG/9Xlskjqu5yuapkh9Q==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" 
        integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css" 
        integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />
    {{ with resources.Get "stylesheets/stylesheet.scss" | resources.ToCSS |
    resources.Minify | resources.Fingerprint}}
    <style>
        {{ .Content|safeCSS }}
    </style>
    {{ end }}
</head>
