<header class="text-primary">
    <div
        class="d-flex justify-content-center align-items-center header-wrapper"
    >
        <div class="col-12">
            <div class="d-flex align-items-center justify-content-between">
                <div
                    class="d-flex align-items-center justify-content-between justify-content-xl-start w-100"
                >
                    <div
                        class="col-2 d-flex flex-column justify-content-end"
                    >
                        <a href="/" class="logo"></a>
                    </div>

                    <ul
                        class="ml-4 justify-content-stretch menu--primary d-none d-xl-flex pl-5"
                    >
                        {{ $current := . }}{{ range $.Site.Menus.primary }}
                        <li class="d-flex align-items-end">
                            {{ $active := in $current.RelPermalink .URL }}
                            <a
                                href="{{ .Page.Permalink }}"
                                class="{{ if $active }}active{{ end }} px-2"
                                {{ if eq .Page.Params.tab "new" }}target="_blank"{{ end }}
                                >
                                {{ readFile (printf "/static/icons/ico-%s.svg" .Page.Params.Icon ) | safeHTML }}
                                {{ if .Page.LinkTitle }}{{ .Page.LinkTitle }}{{ else }}{{ .Page.Title }}{{ end }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                    <div
                        class="d-flex d-xl-none opaque active px-3"
                        data-toggle="menu"
                    >
                        {{ readFile "/themes/3di/static/ico-hamburger.svg" |
                        safeHTML }}
                    </div>
                </div>

                <div class="fastSearch ml-2 mr-3 d-none d-xl-block">
                    <div
                        class="input-group d-none d-xl-flex"
                        style="width: 250px"
                    >
                        <div class="input-group-append">
                            <i class="fas fa-search"></i>
                        </div>
                        <input
                            type="text"
                            class="form-control searchInput"
                            placeholder="Search documentation..."
                            tabindex="0"
                        />
                    </div>
                    <ul class="searchResults rounded shadow-sm border"></ul>
                </div>
            </div>
        </div>
    </div>
</header>
