<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}} {{- block "head" . }}{{- end }}
    <body>
        {{- partial "header.html" . -}}
        <section id="content">
            <div class="row no-gutters">
                <main class="col-12">
                    <div class="pt-5 pb-4 px-5 minimum--content d-flex align-items-center">
                      <main id="main" class="text-center w-100">
                          <h1 class="display-1 mb-0">404</h1>
                          <p>Whoops, page not found!</p>
                          <a class="btn btn-primary btn-lg mt-3" href="{{ "/" | relURL }}">Go Home</a>
                      </main>
                    </div>
                </main>
            </div>
        </section>
        {{- partial "footer.html" . -}}
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js"
            integrity="sha512-Nqw1tH3mpavka9cQCc5zWWEZNfIPdOYyQFjlV1NvflEtQ0/XI6ZQ+H/D3YgJdqSUJlMLAPRj/oXlaHCFbFCjoQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script src="/jquery.min.js"></script>
        {{- block "scripts" . }}{{- end }}
        <script>
            $("header [data-toggle=menu]").on("click", function () {
                $("aside.navigation").fadeToggle(300);
                $("header [data-toggle='menu']").toggleClass("active");
            });
            $("header [data-toggle=toc]").on("click", function () {
                $("aside.toc").fadeToggle(300);
                $("header [data-toggle='toc']").toggleClass("active");
            });
            $("aside.toc a").on("click", function () {
                if ($(window).width() < 1200) {
                    $("aside.toc").fadeOut(300);
                    $("header [data-toggle='toc']").toggleClass("active");
                }
            });
        </script>
        <script src="/js/bespoke-search.js"></script>
    </body>
</html>
